# Core functionality - changes here should be rare!
/src/app.py                   @jackylamhk
/src/backend/database.py      @jackylamhk
/src/backend/routers/auth.py  @jackylamhk

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jackylamhk
